.notice {
  float: right;
  width: 40.625rem;
  height: 16.875rem;
  font-size: .875rem;
}

.notice__cate__li {
  float: left;
  width: 6.125rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;
  background: url('../images/cate_bg.png') no-repeat;
  color: $minor-font-color;
}

.notice__cate__li:hover,
.notice__cate__ul > .active {
  cursor: pointer;
  background: url('../images/cate_bg_active.png') no-repeat;
  color: $patch-font-color;
}

.notice__list {
  margin-top: .625rem;
}

.notice__line {
  height: 1.875rem;
  line-height: 1.875rem;
  vertical-align: middle;
}

.notice__cate {
  float: left;
  letter-spacing: 0.5rem;
}

.notice__title {
  float: left;
  overflow: hidden;
  width: 28.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
}

.notice__date {
  float: right;
  font-size: .75rem;
}

.read__more {
  width: 6.875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  vertical-align: middle;
  text-align: center;
  margin-left: 33.75rem;
  margin-top: .625rem;
  background-color: #6a4835;
  border-radius: .3125rem;
  color: #eee2cb;
}

.read__more:hover {
  cursor: pointer;
  // TODO 箭头特效
}