/* 主色系列 */
$primary-main-color: #eee;
$primary-main1-color: #6a4835;
$primary-main2-color: #323232;
$primary-main3-color: #eee2cb;
$primary-main4-color: #fff;
$primary-main5-color: #999;
$primary-main6-color: #e65309;

/* 成功失败系列 */
$default-success-color: #67c23a;
$default-error-color: #f56c6c;

/* 默认border系列 */
$default-border: 1px solid #eee2cb;
$hover-border: 1px solid #6a4835;